<mat-card class="custom-card">
    <!-- Botón de cierre y otros botones de acción -->
    <mat-card-actions class="card-actions">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-actions>

    <mat-card-content class="image-container">
        <div class="contenedor-imagen" *ngIf="data.imagenNormal">
            <img [src]="'data:image/png;base64,' + data.imagenNormal" alt="Imagen Grande" class="img-fluid">
            <a [href]="'data:image/png;base64,' + data.imagenNormal" download="imagen1.png">
                <mat-icon aria-hidden="false" aria-label="" fontIcon="file_download"></mat-icon>
            </a>
        </div>
        <div class="contenedor-imagen">
            <img [src]="'data:image/png;base64,' + data.imageSrc" alt="Imagen Grande" class="img-fluid">
            <a [href]="'data:image/png;base64,' + data.imageSrc" download="imagen2.png">
                <mat-icon aria-hidden="false" aria-label="" fontIcon="file_download"></mat-icon>
            </a>
        </div>
        <div class="contenedor-imagen" *ngIf="data.imageCombined">
            <img [src]="'data:image/png;base64,' + data.imageCombined" alt="Imagen Grande" class="img-fluid">
            <a [href]="'data:image/png;base64,' + data.imageCombined" download="imagen3.png">
                <mat-icon aria-hidden="false" aria-label="" fontIcon="file_download"></mat-icon>
            </a>
        </div>
    </mat-card-content>

    <!-- Footer con texto o leyenda -->
    <mat-card-footer class="card-footer">
        <span class="leyenda-texto">
            {{ text }}
        </span>
    </mat-card-footer>
</mat-card>