
<body>
<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>
      <h1>Aprendizaje profundo en las hojas de la Yuca</h1>
      <h2>Seleccione una hoja de datos en formato CSV</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="file-upload-container">
      <input class="form-control file-input" type="file" name="archivo" id="archivo" (change)="getData($event)">
    </div>
    <div class="buttons-container">
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="yuca()">Buscar ejemplos de hojas sanas (LABEL: 4)</button>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="yuca_CBB()">Enfermedad Tizón bacteriano de la yuca (CBB) (LABEL: 0)</button>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="yuca_CGM()">Enfermedad Moteado verde de la yuca (CGM) (LABEL: 2)</button>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="yuca_CDM()">Enfermedad del mosaico de la yuca (CMD) (LABEL: 3)</button>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="yuca_CBSD()">Enfermedad de la raya marrón de la yuca (CBSD) (LABEL: 1)</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</body>

<mat-card-content *ngIf="!loading && mostrarEjemplos" class="full-width">
  <h4 class="mt-5">Estos son varios ejemplos</h4>
  <br>
  <div class="image-container">
    <div *ngFor="let grafico of graficos; let i = index" class="image-item">
      <mat-card>
        <mat-card-header>
          <mat-panel-title>
            Ejemplo de planta {{ i + 1 }}
          </mat-panel-title>
          <mat-panel-description class="float-end">
            <a *ngIf="grafico.tipo == 'foto'" [href]="'data:image/png;base64,' + grafico.base64" download="grafico{{ i }}.png" class="btn btn-light float-end">
              <mat-icon aria-hidden="false" aria-label="" fontIcon="file_download"></mat-icon>
            </a>
          </mat-panel-description>
        </mat-card-header>
        <mat-card-content>
          
          <img [src]="'data:image/png;base64,' + grafico" 
          draggable="false"class="card-img-bottom imagen-hover" 
          [alt]="'Gráfico ' + (i + 1)" 
          (click)="openImageDialog(grafico)">
          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-card-content>


<mat-card *ngIf="loading" class="mx-auto">
  <div class="spinner-container">
    <mat-spinner diameter="48" color="primary"></mat-spinner>
  </div>
</mat-card>
