<mat-toolbar class="sticky-top" color="primary">
  <span draggable="false"
    ><a draggable="false" routerLink="/home" class="navbar-brand">
      <img src="../../../../assets/AgroVisionLogo.png"  alt="Logo" class="navbar-logo">
       </a
  ></span>

<button mat-flat-button color="primary" class="me-1 ms-2" routerLink="/home">
  <i class="fa-solid fa-house icon-separate"></i>
  Inicio
</button>

  <button mat-flat-button color="primary" class="me-1 ms-2" routerLink="/yuca">
    <i
      class="fa-solid fa-seedling me-2"
      aria-hidden="false"
      aria-label="seed icon"
    ></i>
    YUCA
  </button>
</mat-toolbar>
