* {
    font-size: 20px; /* Cambia el valor según el tamaño de fuente deseado */
}

.navbar-logo {
    height: 40px; /* Ajusta según la altura deseada */
    width: auto; /* Mantiene la proporción original */
    display: inline-block; /* Asegura que la imagen se comporte como un elemento en línea */
    vertical-align: middle; /* Alinea la imagen verticalmente en el medio de la navbar */
  }


.icon-separate {
    margin-right: 8px; /* Ajusta el valor según el espacio que desees */
  }
  