<mat-toolbar class="sticky-top" color="primary">
  <span draggable="false"
    ><a draggable="false" routerLink="/home" class="navbar-brand">
      <img draggable="false" src="../../../../assets/logo3.png" class="" /> </a
  ></span>

  <button mat-flat-button color="primary" class="me-1 ms-2" routerLink="/home">
    <mat-icon aria-hidden="false" aria-label="" fontIcon="home"></mat-icon
    >Inicio
  </button>
  <button
    mat-flat-button
    color="primary"
    class="me-1 ms-2"
    routerLink="/graphs"
  >
    <mat-icon
      aria-hidden="false"
      aria-label=""
      fontIcon="insert_chart"
    ></mat-icon
    >Gráficos
  </button>
  <button mat-flat-button color="primary" class="me-1 ms-2" routerLink="/xai">
    <mat-icon
      aria-hidden="false"
      aria-label=""
      fontIcon="bar_chart_4_bars"
    ></mat-icon
    >XAI
  </button>
  <button mat-flat-button color="primary" class="me-1 ms-2" routerLink="/rnn">
    <mat-icon
      aria-hidden="false"
      aria-label=""
      fontIcon="stacked_line_chart"
    ></mat-icon
    >RNN
  </button>
  <button mat-flat-button color="primary" class="me-1 ms-2" routerLink="/yuca">
    <i class="fa-solid fa-seedling me-2" aria-hidden="false" aria-label="seed icon"></i> YUCA
  </button>
  
</mat-toolbar>
