<body>
    <mat-card class="card-container">
      <mat-card-header>
        <mat-card-title>
          <h1>Búsqueda de duplicados a través del método Image Hashing </h1>
          <h2>Carga los hashes (.npy) y los identificadores de las imagenes (.pkl)</h2>
          <h2>El metodo Image Hashing requiere de una GPU, si no se tiene funciona igual pero tarda más (10-15 min)</h2>

        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="file-upload-container">
          <input class="form-control file-input" type="file" name="archivo" id="archivo" (change)="getData($event)">
        </div>
        <div class="file-upload-container">
            <input class="form-control file-input" type="file" name="archivo" id="archivo" (change)="getData1($event)">
          </div>
        <div class="button-container">
            <button mat-raised-button class="btn-morado" (click)="buscarDuplicados()">Buscar duplicados</button>      
        </div>
        <div *ngIf="loading" class="mx-auto spinner-container">
          <mat-spinner diameter="48" color="primary"></mat-spinner>
        </div>
        <div *ngIf="!loading && mostrarEjemplos" class="full-width">
          <div *ngIf="mensajeDuplicados">
            {{ mensajeDuplicados }}
          </div>
        </div>
        <!-- Utiliza la función tieneDuplicados para controlar la visualización del botón -->
        <div *ngIf="tieneDuplicados">
          <button mat-raised-button class="btn-morado" (click)="mostrarDuplicados()">Mostrar duplicados</button>
        </div>
    </mat-card-content>
</mat-card>
</body>

<mat-card-content *ngIf="!loading && mostrarEjemplos" class="full-width">
  <h4 class="mt-5">Estos son varios ejemplos</h4>
  <br>
  <div class="image-container">
    <div *ngFor="let grafico of graficos; let i = index" class="image-item">
      <mat-card>
        <mat-card-header>
          <mat-panel-description class="float-end">
            <a *ngIf="grafico.tipo == 'foto'" [href]="'data:image/png;base64,' + grafico.base64" download="grafico{{ i }}.png" class="btn btn-light float-end">
              <mat-icon aria-hidden="false" aria-label="" fontIcon="file_download"></mat-icon>
            </a>
          </mat-panel-description>
        </mat-card-header>
        <mat-card-content>
          
          <img [src]="'data:image/png;base64,' + grafico" 
          draggable="false"class="card-img-bottom imagen-hover" 
          [alt]="'Gráfico ' + (i + 1)" 
          (click)="openImageDialog(grafico)">
          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-card-content>

<mat-card *ngIf="loading" class="mx-auto">
  <div class="spinner-container">
    <mat-spinner diameter="48" color="primary"></mat-spinner>
  </div>
</mat-card>
