

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import 'theme.scss';
@import "node_modules/bootstrap/scss/bootstrap";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AgrarIA-primary: mat.define-palette(mat.$green-palette);
$AgrarIA-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AgrarIA-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$AgrarIA-theme: mat.define-light-theme((
  color: (
    primary: $AgrarIA-primary,
    accent: $AgrarIA-accent,
    warn: $AgrarIA-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($AgrarIA-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-verde {
  background-color: rgb(94, 0, 128);
  color: white;
}

.spaced-paragraph {
  margin-bottom: 1.5em;
  line-height: 1.6; /* Aumenta el espacio entre líneas para mejor legibilidad */
  font-size: 1.1em; /* Ajusta el tamaño de la fuente para hacerla un poco más grande */
  color: #333; /* Color de texto más suave */
}

.spaced-list {
  margin-bottom: 1.5em;
  padding-left: 1.5em; /* Indenta las listas para separarlas del resto del texto */
  list-style-type: disc; /* Cambia el estilo de la viñeta */
}

.spaced-list li {
  margin-bottom: 0.75em; /* Espacio entre los elementos de la lista */
}

.spaced-heading {
  font-weight: bold; /* Hace que los encabezados sean más destacados */
  margin-bottom: 1em; /* Añade espacio debajo de los encabezados */
  color: #007bff; /* Color de los encabezados */
}

.container2 {
  max-width: 800px; /* Limita el ancho máximo del contenido */
  margin: 0 auto; /* Centra el contenido */
  padding: 1em; /* Añade padding alrededor del contenido */
  background-color: #f9f9f9; /* Fondo claro para el contenedor */
  border-radius: 10px; /* Bordes redondeados para el contenedor */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}
