body {
    background-image: url('../../../../assets/conteoFondo.jpg'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .styled-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .styled-button:hover {
    background-color: #45a049; /* Darker green */
    transform: scale(1.05);
  }
  
  .styled-button:active {
    background-color: #3e8e41; /* Even darker green */
    transform: scale(0.95);
  }
  

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: all 0.3s ease;
    
    &:hover {
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }
  
    .input-group-text {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px 0 0 5px;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .form-control {
      border: 1px solid #ced4da;
      border-radius: 0 5px 5px 0;
      padding: 0.75rem;
      font-size: 1rem;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
  
      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  }
  
  .file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
  }
  